<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Publications</h1>
        <%= will_paginate @publications %>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @publications.each do |publication| %>
            <tr>
              <td><%= publication.companyname %></td>
              <% if policy(publication).show? %>
                <td><%= link_to 'Show', publication %></td>
              <% end %>
              <% if policy(publication).edit? %>
              <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
              <% end %>
              <% if policy(publication).destroy? %>
              <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

<br>

      <div class="panel-footer">
        <% if policy(Publication).new? %>
          <%= link_to 'New Publication', new_publication_path, class: 'btn btn-success'%>
        <% end %>
        <%= page_entries_info @publications %>
      </div>

    </div>
  </div>
</div>