<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <h1>New Publication</h1>

    <%= render 'form', publication: @publication %>

    <%= link_to 'Back', publications_path %>
  </div>
</div>