<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Publication
      </div>

      <div class="panel-body">
        <p>
          <strong>Company Name:</strong>
          <%= @publication.companyname %>
        </p>
      </div>

      <div class="panel-footer">
        <% if policy(@publication).edit? %>
          <%= link_to 'Edit', edit_publication_path(@publication), class: 'btn btn-success'%> |
        <% end %>
        <% if policy(@publication).index? %>
          <%= link_to 'Back', publications_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>Articles</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @publication.articles.order(created_at: :desc).each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <% if policy(article).show? %>
              <td><%= link_to 'Show', article %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>