<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :subscription_name %>
  </div>

  <div class="field">
    <%= form.collection_select :publication_id, Publication.all, :id, :companyname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
