<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <h1>New Subscription</h1>

    <%= render 'form', subscription: @subscription %>

    <%= link_to 'Back', subscriptions_path %>
  </div>
</div>