<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-success">
      <div class="panel-heading">
        Subscription
      </div>

      <div class="panel-body">
        <p>
          <strong>Name:</strong>
          <%= @subscription.name %>
        </p>
      </div>

      <div class="panel-footer">
        <%= link_to 'Edit', edit_subscription_path(@subscription) %> |
        <%= link_to 'Back', subscriptions_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>Users Subscribed</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @subscription.users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <% if policy(user).show? %>
              <td><%= link_to 'Show', user %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
